[uwsgi]
uid = {{ gnocchi_system_user_name }}
gid = {{ gnocchi_system_group_name }}

virtualenv = /openstack/venvs/gnocchi-{{ gnocchi_venv_tag }}
wsgi-file = {{ gnocchi_bin }}/gnocchi-api
http-socket = {{ gnocchi_service_address }}:{{ gnocchi_service_port }}

master = true
enable-threads = true
processes = {{ gnocchi_wsgi_processes }}
threads = {{ gnocchi_wsgi_threads }}
exit-on-reload = true
die-on-term = true
lazy-apps = true
add-header = Connection: close
buffer-size = 65535
thunder-lock = true
disable-logging = true
http-auto-chunked = true
http-raw-body = true
socket-timeout = 10

# Avoid filling up the logs with health check requests from haproxy.
route-user-agent = ^osa-haproxy-healthcheck$ donotlog:
