# {{ ansible_managed }}

<VirtualHost *:{{ gnocchi_service_port }}>
    WSGIDaemonProcess     gnocchi lang='en_US.UTF-8' locale='en_US.UTF-8' user={{ gnocchi_system_user_name }} group={{ gnocchi_system_group_name }} processes={{ gnocchi_wsgi_processes }} threads={{ gnocchi_wsgi_threads }} display-name=%{GROUP}
    WSGIProcessGroup      gnocchi
    WSGIScriptAlias       / /var/www/cgi-bin/gnocchi/gnocchi-api
    WSGIApplicationGroup  %{GLOBAL}

    <IfVersion >= 2.4>
      ErrorLogFormat "%{cu}t %M"
    </IfVersion>

    LogLevel  {{  gnocchi_apache_log_level }}
    ErrorLog  /var/log/gnocchi/gnocchi-apache-error.log
    CustomLog /var/log/gnocchi/gnocchi-access.log combined

{% if gnocchi_ssl | bool and gnocchi_service_internaluri_proto == "https" -%}
    SSLEngine on
    SSLCertificateFile    {{ gnocchi_ssl_cert }}
    SSLCertificateKeyFile {{ gnocchi_ssl_key }}
    {% if gnocchi_user_ssl_ca_cert is defined -%}
    SSLCACertificateFile  {{ gnocchi_ssl_ca_cert }}
    {% endif -%}
    SSLCompression Off
    SSLProtocol {{ gnocchi_ssl_protocol }}
    SSLHonorCipherOrder On
    SSLCipherSuite {{ gnocchi_ssl_cipher_suite }}
    SSLOptions +StdEnvVars +ExportCertData
{% endif %}
</VirtualHost>
